* {
  --color-sky-blue: #74C9E6;
  --color-sky-blue-rgb: 116,201,230;
  --color-blue-ncs: #0087B5;
  --color-blue-ncs-rgb: 0,135,181;
  --color-june-bud: #B0D835;
  --color-june-bud-rgb: 176,216,53;
  --color-saddle-brown: #823200;
  --color-saddle-brown-rgb: 130,50,0;
  --color-rosewood: #650D1B;
  --color-rosewood-rgb: 101,13,27;
}

html, body {
  color: black;
  font-family: "Roboto", serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
